<!DOCTYPE html>
<html>
<head>
    <meta HTTP-EQUIV="X-UA-COMPATIBLE" CONTENT="IE=9">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title>Your Store</title>
    <link rel="stylesheet" type="text/css" href="../static/application/css/app.min.css"/>
</head>

<body>
<div class="pg-yourstore">
    <div class="blk">
        <div class="pg-cnt">
            <div class="hdr">YOURSTORE.COM</div>
            <div class="bdy">
                <div class="bdy--cntnt text--center">PAGE CONTENT</div>
                <div id="rgtFlyr" class="bdy--rgt-flyr" style="display: none;">
                    <div class="bdy--rgt-flyr--cls rgtFlyrCls">✕</div>
                    <div class="bdy--rgt-flyr--cnt">
                        <div class="bdy--rgt-flyr--cnt__ttl">Are you looking for '<strong>White Dress</strong>'?</div>

                        <div class="hlst bdy--rgt-flyr--lst">
                            <div class="hlst--itm bdy--rgt-flyr--lst__itm">
                                <div class="bdy--rgt-flyr--lst__itm--img img">
                                    <img class="img__c" src="../static/application/images/b1.jpg">
                                </div>

                                <div class="bdy--rgt-flyr--lst__itm--outr-dts">
                                    <div class="bdy--rgt-flyr--lst__itm--innr-dts">
                                        <div class="bdy--rgt-flyr--lst__itm--ttl">
                                            Cotton White Dresses
                                        </div>

                                        <div class="bdy--rgt-flyr--lst__itm--dsc">
                                            See more
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="hlst--itm bdy--rgt-flyr--lst__itm">
                                <div class="bdy--rgt-flyr--lst__itm--img img">
                                    <img class="img__c" src="../static/application/images/b3.jpg">
                                </div>

                                <div class="bdy--rgt-flyr--lst__itm--outr-dts">
                                    <div class="bdy--rgt-flyr--lst__itm--innr-dts">
                                        <div class="bdy--rgt-flyr--lst__itm--ttl">
                                            Cotton Dresses
                                        </div>

                                        <div class="bdy--rgt-flyr--lst__itm--dsc">
                                            See more
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div s>
            </div>
        </div>
    </div>
</div>

<script defer type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script defer type="text/javascript" src="../static/application/js/app.min.js"></script>
</body>
</html>